@{
    ViewData["Title"] = "Home Page";
}



<div style="background-color:#96E6DA" class="card shadow mb-2">
    <div class="card-header py-lg-3 text-center">
        <h2 class="m-0 font-weight-light text-secondary"><samp>Lavacar Katse - ¡Gracias por preferirnos!</samp></h2>
    </div>

</div>



<div style="background-color:#96E6DA" class="card-body col-md-auto" >

    <div class="row w-100 justify-content-center" >
        <img src="/img/carwash1.png" alt="" height="300" width="400">

        


    </div>

    <div class="row w-100 justify-content-center d-inline-flex">


        <div class="col-xl-5 col-md-11 mb-4 mx-md-n5 mx-xl-0">
            <div class="card border-bottom-left-cnp shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h3 font-weight-light text-uppercase mb-1 text-center">
                                <div class="mb-3 mx-1">
                                    <a asp-area="" asp-controller="Servicios" asp-action="ListaDeServicios">
                                        <span class="fas fa-list-ol"></span>
                                        Servicios
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-5 col-md-11 mb-4 mx-md-n5 mx-xl-0">
            <div class="card border-bottom-left-cnp shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h3 font-weight-light text-center text-uppercase mb-1">
                                <div class="h3 font-weight-light text-uppercase mb-1 text-center">
                                    <div class="mb-3 mx-1">
                                        <a asp-area="" asp-controller="Vehiculos" asp-action="ListaDeVehiculos">
                                            <span class="fas fa-car-side"></span>
                                            Vehículos
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


